[submodule "Shared/Wallpaper"]
	path = Shared/Wallpaper
	url = git@github.com:WXYC/wallpaper-ios.git
[submodule "Vendor/Initialized"]
	path = Vendor/Initialized
	url = https://github.com/example/initialized-package.git
